<div class="text-container">
  <p class="heading">Hey Jude by {{artist}}</p>
  <p class="content">Take a sad song and make it better</p>
  <a href="#" class="link">Click me</a>
  {{> subText}} 
</div>